<div class="welcome-description">
  <p>
    vous allez desormais etre mis a l'epreuve, pour postuler a nos offres vous devez tout d'abord terminer une course
    avec le maximum de points possibles, serez-vous a la hauteur?
  </p>

  <p>
    Vous trouverez sur le chemin de nombreux objets, certains vous donnent des points et des bonus.
    D'autres vous en font perdre et vous ralentisse.
  </p>

  <p>
    Vous etes prets ? &nbsp;Peut etre pas encore, alors pour vous aider, voici les touches pour jouer :
  </p>

  <p>
    Sur mobile, la moitié gauche de l'écran agit comme un joystick,
    et la moitié droite concerne le bouton déraper.
  </p>
</div>

<div class="welcome-keys">
  <div class="welcome-key">
    <div class="key"><span>↑</span></div> <span class="value">accelerer/avancer</span>
  </div>
  <div class="welcome-key">
    <div class="key"><span>↓</span></div> <span class="value">decelerer/reculer</span>
  </div>
  <div class="welcome-key">
    <div class="key"><span>←</span></div> <span class="value">tourner a gauche</span>
  </div>
  <div class="welcome-key">
    <div class="key"><span>→</span></div> <span class="value">tourner a droite</span>
  </div>
  <div class="welcome-key">
    <div class="key"><span>D</span></div> <span class="value">deraper</span>
  </div>
</div>

