
<div class="player-name">
  <div class="player-name-field">
    <div class="name-title">Merci de taper ton prénom</div>

    <div class="player-name-input">
      <input #nameInput type="text" [(ngModel)]="playerName" (keyup.enter)="confirm()">
    </div>
    <div class="name-title-error" *ngIf="error" @errorAnim>
      Veuillez entrer un nom (sans caractères spéciaux)
    </div>
  </div>
</div>

<div class="driver-choice">
  <div class="driver-list" #driverList>
    <div class="driver-list-content" [ngStyle]="getRowWidth()">
      <app-driver-cell [driver]="driver"
                       [selected]="selectedDriver && selectedDriver.id === driver.id"
                       *ngFor="let driver of drivers"
                       (click)="selectDriver(driver)"></app-driver-cell>
    </div>
  </div>

  <div class="driver-stats">
    <div class="driver-name" *ngIf="selectedDriver" [@nameAnim]="selectedDriverId">
      {{selectedDriver.name}}
    </div>
    <app-driver-stats [driver]="selectedDriver" *ngIf="selectedDriver"></app-driver-stats>
  </div>
</div>
