:host {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  pointer-events: none;
}
.stick-circle {
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  background: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.4);

  .stick-current {
    position: absolute;
    width: 80px;
    height: 80px;
    transform: translate3d(-40px, -40px, 0);
    background: white;
    border-radius: 50%;

    background: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  }
}
